@model LCNetv5.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Center)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Center)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegacyScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegacyScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Loan History", "History", new { Id = Model.Id}) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
