@using LCNetv5.Classes
@model IEnumerable<LCNetv5.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="client-list">
    <p>
        @Html.ActionLink("Create New", "Create")
        <input class="search" placeholder="Search" />
        <button class="sort" data-sort="name">
            Sort by name
        </button>
        <button class="sort" data-sort="status">
            Sort by status
         </button>
        <button class="sort" data-sort="score">
            Sort by score
        </button>
        <button class="sort" data-sort="CCenter">
            Sort by center
        </button>
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Credit Score
            </th>
            <th>Center</th>
            <th></th>
        </tr>

        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="name">
                        @item.getFullName()
                    </td>
                    <td class="status">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="score">
                        @item.getCScore()
                    </td>
                    <td class="CCenter">
                        @item.Center.
                    </td>
                    <td>

                        @Html.ActionLink("Prog", "Index", "Programs", new { id = item.Id }, null) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                        @Html.ActionLink("L.L", "IndPayment", "Payments", new { id = item.getRecentLoan() }, null)|
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="http://listjs.com/no-cdn/list.fuzzysearch.js"></script>
<script>
    var monkeyList = new List('client-list', {
        valueNames: ['name', 'status', 'score','CCenter'],
        plugins: [ListFuzzySearch()]
    });
</script>
