@model LCNetv5.Models.EntryForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>EntryForm</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HowFindOut)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HowFindOut)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberInHousehold)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberInHousehold)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HomeOwner)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HomeOwner)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayRent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayRent)
            </dd>
    
            
    
            <dt>
                @Html.DisplayNameFor(model => model.AmountOfTimeInCommunity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AmountOfTimeInCommunity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WhereLiveBefore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WhereLiveBefore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WhyMove)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WhyMove)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TransportTypes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TransportTypes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinanceExperience)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinanceExperience)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanFor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanFor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Savings)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Savings)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Business)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Business)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TypeOfWork)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TypeOfWork)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Misc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Misc)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
