@model LCNetv5.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Program.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmtLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmtLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Round)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Round)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instalments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instalments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
