@model IEnumerable<LCNetv5.Models.Loan>

@{
    ViewBag.Title = "Index";
}
@if(ViewBag.Program.Id != -1){
  <h1> @ViewBag.Program.getInfo() </h1>
    <p>
        @Html.ActionLink("Create New", "IndLoanCreate", new { Id = ViewBag.Program.Id })
    </p>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AmtLoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instalments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmtLoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instalments)
        </td>
        <td>
            @Html.ActionLink("Payments", "IndPayment","Payments", new { Id=item.Id } , null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
